main {
  
  box-sizing: border-box;
  
  width: 700px;
  
  height: 500px;
  
  margin: 50px auto;
  
  background: #8E2525;
  
  background: -webkit-linear-gradient(90deg, #B60000, pink);
  
  background: -o-linear-gradient(90deg, #8E2525, red);
  
  background: -moz-linear-gradient(90deg, #8E2525, red);
  
  background: linear-gradient(90deg, #8E2525, red);
  
  }

div {
  
  box-sizing: border-box;
  
  width: 100px;
  
  height: 100px;
  
  float: left;
  
  }

div.boxcolor {
  
  background: white;
  
  }
